@font-face {
  font-family: "Din-Regular";
  src: url("/D-DIN.otf");
}
@font-face {
  font-family: "Din-Bold";
  src: url("/D-DIN-Bold.otf");
}
@font-face {
  font-family: "Din-Condensed";
  src: url("/D-DINCondensed.otf");
}
@font-face {
  font-family: "Din-Condensed-Bold";
  src: url("/D-DINCondensed-Bold.otf");
}

html {
  font-family: 'Din-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
}

