html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

p {
  font-size: 1.4rem;
}

input,
textarea,
select,
button {
  color: inherit; 
  font: inherit; 
  letter-spacing: inherit; 
}

input,
textarea,
button {
  border: 1px solid gray; 
}

button {
  border-radius: .4rem; 
  padding: 0.75rem 1rem;
  cursor: pointer;
}

.title {
  
  text-transform: uppercase;
}

.footer-direccion {
  line-height: 2;
  font-size: 1.8rem;
}

.copy p {
  font-size: 2.2rem;
    line-height: 1.2;
    text-transform: none;
    margin: 2rem 0;

    &:first-child{
      font-weight: bold;
      margin-top: 2rem;
    }
}

.wp-block-table {
  background: rgb(241, 241, 241);
  box-shadow: 3px 3px 3px rgba(221, 221, 221, 0.623);
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;

}
tbody {
  margin-top: 1rem;
  font-size: 1.4rem;
}

tr {
  border: 1px solid #ddd;
}

td {
  padding: 1rem;
}

th {
  font-size: 1.6rem;
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  text-align: left;
}

table {
  border: none;
}